.home_wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.landing__content_wrapper {
  width: 90%;
  max-width: 1064px;
}

.landing__text_p {
  color: var(--p-text-color);
  font-family: var(--p-brand-font);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}