.hero_section {
  height: 65dvh;
  align-items: flex-end;
}

.hero__feature_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.hero__gradient {
  position: absolute;
  width: 100%; 
  height: 100%; 
  top: 0px;
  bottom: 0px;
  left: 0px; 
  right: 0px;
}

.hero__gradient_canvas {
  --gradient-color-1:#c2e9fb;
  --gradient-color-2:#a1c4fd;
  --gradient-color-3:#ffecd2;
  --gradient-color-4:#fcb69f;


  height: 100%; 
  width: 100%; 
  z-index: 0;
}

.hero__vector_wrapper{
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 1064px;
  height: fit-content;
}

.hero__vector {
  width: 100%;
  height: auto;
}

.hero__gradient_grained {
  position: absolute!important;
  top: 0px; 
  left: 0px; 
  right: 0px;
  bottom: 0px;
  z-index: 2;
}