.hero_section {
  height: 60%;
  padding-bottom: 3rem;
  align-items: flex-end;
}

.hero__feature_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__gradient {
  position: absolute;
  width: 100%; 
  height: 100%; 
  top: 0px;
  bottom: 0px;
  left: 0px; 
  right: 0px;
}

.hero__gradient_canvas {
  --gradient-color-1:#c2e9fb;
  --gradient-color-2:#a1c4fd;
  --gradient-color-3:#ffecd2;
  --gradient-color-4:#fcb69f;

  height: 100%; 
  width: 100%; 
  z-index: 1;
}

.hero__vector_wrapper, .hero__vector {
  background: red;
  z-index: 2;
}